@model IEnumerable<GestaoInstituto.Domain.Entities.Institution>


<p>
    <a asp-action="Cadastro" class="btn btn-outline-primary">Nova Instituição</a>
</p>

<div class="card card-body">
    <div class="col-md-12  table-responsive">
        <table class="table tableexport">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>

                        <td>

                            <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-outline-primary" title="Editar">
                                <i class="material-icons">
                                    create
                                </i>

                            </a>

                            <a href="#" class="btn btn-outline-danger" title="Editar" onclick="ConfirmaExclusao('@item.Nome', @item.Id)">
                                <i class="material-icons">
                                    delete_outline
                                </i>

                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
<script>

        function ConfirmaExclusao(text, id) {
            Swal.fire({
      title: '',
      text: "Deseja realmente excluir o registro?",
      icon: 'question',
      showCancelButton: true,
      cancelButtonText:"Não",
      confirmButtonText: 'Sim'
    }).then((result) => {
      if (result.isConfirmed) {
            $.get("@Url.Action("Excluir", "Instituicao")?id=" + id, function (data) {
                
                 Swal.fire(
                  '',
                  'Registro Excluido com sucesso!',
                  'success'
                ).then((value) => {
                   location.reload(true);
                });
            }).fail(function (data) {
                Swal.fire(
                  '',
                  'Falha ao Excluir registro',
                  'success'
                )
            })
       
      }
    })
            //swal({
            //    title: "",
            //    text: "Deseja Realmente deletar o membro " + text + " ?",
            //    icon: "warning",
            //    buttons: true,
            //    dangerMode: true,
            //}).then((willDelete) => {
            //        if (willDelete) {

            //        } else {

            //        }
            //    });
        }
</script>
}